<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120025764401-65sk9hqs8joklr1lv71k18rqvp3d25d9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120025764401-65sk9hqs8joklr1lv71k18rqvp3d25d9</string>
	<key>API_KEY</key>
	<string>AIzaSyBQuLD2I7rtmPQw5a0n3IAwYeX4io0KVF4</string>
	<key>GCM_SENDER_ID</key>
	<string>120025764401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.Kaiscer.FirebaseForm</string>
	<key>PROJECT_ID</key>
	<string>fir-form-2e9a2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-form-2e9a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120025764401:ios:6dca7b11adc33755e07b10</string>
</dict>
</plist>